
# /bots/Projects/bot-signos/.gitignore
# Alembic
# DB
# Docker
# Env
# IDE
# Logs
# OS
# Python
# Static gerados
*.db
*.egg
*.egg-info/
*.log
*.py[cod]
*.sqlite3
.DS_Store
.docker/
.env
.env.local
.idea/
.vscode/
Thumbs.db
__pycache__/
build/
dist/
src/database/migrations/versions/
static/imgs/*.jpg
static/imgs/*.png
teste_mapa_premium.pdf
